# 2. Nettoyage

Renommer colonnes

Gérer NaN

Types corrects

Déduplication

Extraction de l’année

Création des colonnes utiles

# 3. Création des tables finales

# Olympic Games Data Cleaning and Preparation

## 1. Import libraries
## 2. Load datasets
## 3. Initial inspection
## 4. Cleaning and formatting
## 5. Feature engineering
## 6. Build final ML tables
## 7. Save cleaned datasets

In [1]:
import numpy as np 
import pandas as pd

In [2]:
athletes = pd.read_json("/kaggle/input/hackaton/olympic_athletes.json")
hosts = pd.read_xml("/kaggle/input/hackaton/olympic_hosts.xml")
medals = pd.read_excel("/kaggle/input/hackaton/olympic_medals.xlsx")
results = pd.read_html("/kaggle/input/hackaton/olympic_results.html")[0]

In [3]:
athletes.to_csv("athletes.csv", index=False)
hosts.to_csv("hosts.csv", index=False)
medals.to_csv("medals.csv", index=False)
results.to_csv("results.csv", index=False)

In [4]:
athletes = pd.read_csv("athletes.csv")
medals = pd.read_csv("medals.csv")
results = pd.read_csv("results.csv")
hosts = pd.read_csv("hosts.csv")

In [5]:
athletes.shape, medals.shape, results.shape, hosts.shape

((75904, 7), (21697, 13), (162804, 16), (53, 8))

étape inspection

In [6]:
medals.head()
medals.info()
medals.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             21697 non-null  int64
 1   discipline_title       21697 non-null  object
 2   slug_game              21697 non-null  object
 3   event_title            21697 non-null  object
 4   event_gender           21697 non-null  object
 5   medal_type             21697 non-null  object
 6   participant_type       21697 non-null  object
 7   participant_title      6584 non-null   object
 8   athlete_url            17027 non-null  object
 9   athlete_full_name      18073 non-null  object
 10  country_name           21697 non-null  object
 11  country_code           20195 non-null  object
 12  country_3_letter_code  21697 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.2+ MB

Unnamed: 0                   0
discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url               4670
athlete_full_name         3624
country_name                 0
country_code              1502
country_3_letter_code        0
dtype: int64

In [7]:
athletes.head()
athletes.info()
athletes.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

In [8]:
results.head()
results.info()
results.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             162804 non-null  int64
 1   discipline_title       162804 non-null  object
 2   event_title            162804 non-null  object
 3   slug_game              162804 non-null  object
 4   participant_type       162804 non-null  object
 5   medal_type             20206 non-null   object
 6   athletes               7976 non-null    object
 7   rank_equal             32526 non-null   object
 8   rank_position          158926 non-null  object
 9   country_name           162804 non-null  object
 10  country_code           157768 non-null  object
 11  country_3_letter_code  162804 non-null  object
 12  athlete_url            129991 non-null  object
 13  athlete_full_name      141646 non-null  object
 14  value_unit             78646 non-null   object
 15  value_type             90049 non-null   object
dtypes: int64(1), object(15)
memory usage: 19.9+ MB

Unnamed: 0                    0
discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

In [9]:
hosts.head()
hosts.info()
hosts.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            53 non-null     int64
 1   game_slug        53 non-null     object
 2   game_end_date    53 non-null     object
 3   game_start_date  53 non-null     object
 4   game_location    53 non-null     object
 5   game_name        53 non-null     object
 6   game_season      53 non-null     object
 7   game_year        53 non-null     int64
dtypes: int64(2), object(6)
memory usage: 3.4+ KB

index              0
game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

Supprimer les colones unitiles

In [10]:
medals = medals.drop(columns=["Unnamed: 0"])
results = results.drop(columns=["Unnamed: 0"])

normaliser les types

athletes

In [11]:
athletes["athlete_year_birth"] = athletes["athlete_year_birth"].astype("Int64")

host

In [12]:
hosts["game_year"] = hosts["game_year"].astype(int)

extraire l’année partout

In [13]:
medals["year"] = medals["slug_game"].str.extract(r"(\d{4})").astype(int)
results["year"] = results["slug_game"].str.extract(r"(\d{4})").astype(int)

créer la table propre pays → médailles

In [14]:
medals["medal_id"] = (
    medals["slug_game"] + "_" +
    medals["discipline_title"] + "_" +
    medals["event_title"] + "_" +
    medals["medal_type"] + "_" +
    medals["country_name"]
)

medals_unique = medals.drop_duplicates(subset=["medal_id"])

# country_medals = (
#     medals_unique
#     .groupby(["year","country_name"])
#     .size()
#     .reset_index(name="medals")
# )
country_medals = (
    medals_unique
    .groupby(["year","country_name","medal_type"])
    .size()
    .reset_index(name="count")
)

In [15]:
country_medals.head()
country_medals.tail()
country_medals.shape

(3529, 4)

Feature engineering

Trier par pays et année

In [16]:
country_medals = country_medals.sort_values(["country_name","year"])

Créer historique cumulatif

In [17]:
country_medals["past_medals"] = (
    country_medals
    .groupby("country_name")["count"]
    .cumsum()
    .shift(1)
    .fillna(0)
)

Créer moyenne mobile

In [18]:
country_medals["avg_last_3"] = (
    country_medals
    .groupby("country_name")["count"]
    .rolling(3)
    .mean()
    .reset_index(level=0, drop=True)
)

In [19]:
country_medals["avg_last_3"] = country_medals["avg_last_3"].fillna(0)

Créer tendance

In [20]:
country_medals["delta"] = (
    country_medals["count"] - 
    country_medals.groupby("country_name")["count"].shift(1)
).fillna(0)

In [21]:
country_medals.to_csv("country_medals_ml.csv", index=False)

In [22]:
country_medals.describe()
country_medals.isnull().sum()
country_medals.head()

      year country_name medal_type  count  past_medals  avg_last_3  delta
2478  2008  Afghanistan     BRONZE      1          0.0    0.000000    0.0
2735  2012  Afghanistan     BRONZE      1          1.0    0.000000    0.0
1379  1984      Algeria     BRONZE      2          2.0    0.000000    0.0
1602  1992      Algeria     BRONZE      1          2.0    0.000000   -1.0
1603  1992      Algeria       GOLD      1          3.0    1.333333    0.0